.profile-info__title {
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 3.5rem;
	letter-spacing: 0em;
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 80%;
}
@media screen and (min-width: 700px) {
	.profile-info__title {
		width: 90%;
	}
}
@media screen and (min-width: 1200px) {
	.profile-info__title {
		font-size: 2.625rem;
		max-width: 85%;
	}
}
