.input__submit-form {
  background-color: black;
  width: 100%;
  color: white;
  margin: 1.563rem 0 1.563rem 0;
  height: 3.125rem;
  transition: 0.3s;
}

.input__submit-form:active {
  transform: scale(1.1);
}