.elements{
	display:grid;
  width:85%;
	row-gap:0.938rem;
}

@media screen and (min-width: 520px) {
	.elements{
		width:50%;
	}

}
@media screen and (min-width: 800px) {
	.elements{
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows:auto;
		column-gap:0.938rem;
		width:55%;
	}

}
@media screen and (min-width:1280px) {
	.elements{
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		width:70%;
	}

}