.addEmergent {
  position: absolute;
  top: 10%;
  max-height: 75vh;
  max-width: 75vw;
}

.addEmergent_oppened {
  display: none;
}

.addEmergent__close-icon {
  width: 20px;
}

.addEmergent__image {
  max-width: 75vw;
  max-height: 75vh;
}