.addEmergent {
  position: fixed;
  top: 10%;
  max-width: 75vw;
  max-height: 75vh;
  animation: fade-in 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addEmergent_oppened {
  display: none;
}

.addEmergent__close-icon {
  align-self: flex-end;
  width: 2.125rem;
  align-self: flex-end;
  color: white;
  background-color: transparent;
  border: 0;
  font-size: 2.125rem;
  font-weight: 100;


}

.addEmergent__image {
  object-fit: contain;
  max-width: 75vw;
  max-height: 75vh;
}


.div {
  display: flex;
  justify-content: center;
  align-items: center;
}