.footer {
  margin: 2.188rem auto 0 auto;
  display:flex;
  justify-content:flex-start;
}
@media screen and (min-width: 520px) {
  .footer {
    width: 50%;
  }
}
@media screen and (min-width: 800px) {
  .footer {
    width: 55%;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    width: 70%;   
  }
}
