.element {
  display: grid;
  max-width: 85%;
  row-gap: 0.938rem;
}

@media screen and (min-width: 520px) {
  .element {
    max-width: 60%;
  }
}

@media screen and (min-width: 900px) {
  .element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0.938rem;
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .element {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 65%;
  }
}