.profile-info {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 700px) {
  .profile-info {
    margin: 0 0.938rem 0 0.938rem;
    display: flex;
    justify-content: flex-start;
    max-width: 60%;

  }
}

@media screen and (min-width: 1200px) {
  .profile-info {
    max-width: 60%;
    margin: 0 6.25rem 0 1.75rem;
  }
}